*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;

}

.wrapper{ 
    display:flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;    
}

.wrapper::before {
    content: "";
    position: absolute;
    width: 100vh;
    height: 100vw;
    z-index: -1;
    background: linear-gradient(180deg, #4568DC 0%, #AF6AB3 100%), #4568DC;
    transform: rotate(-90deg);
}

.content {
    display:flex;
    width: 80%;
    height: 96.5%;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;     
}

.main-text{
    display:flex;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between; 
    font-family: 'Exo 2', sans-serif;
    font-style: normal; 
    text-align: center;
    color: #FFFFFF;  
    width: 100%;
    height: 20%;
    flex-wrap: wrap;    
}

.textAI {     
    font-weight: 800;
    font-size:45px;
    line-height: 100%;    
}

.textDescr {   
    font-weight: bold;
    font-size:30px;
    line-height: 100%;
}

.container {
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
    flex-wrap: wrap-reverse;    
}

.area-and-menu { 
    width: 47%;
    min-width: 360px;
    height: 100%;    
    display:flex;
    flex-direction: column;
    justify-content: space-between;    
}

.text-area {   
    width: 100%;
    height: 70%; 
    background: #F4F4F4;    
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    padding: 10px 10px 10px 10px;
}

.text-area form {
    height: 100%;
}

textarea {
    padding: 10px;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    resize: none;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #B1AFAF;
}

input, select, textarea{
    color: #0e0d0d;
}

.menu-and-button{
    width: 100%;   
    height: 20%; 
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.btn {
    width: 223px;
    height: 66px;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    outline:none;
    background: #731C99;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition:1s;
    cursor: pointer;
}

.btn:hover {
    background: #B070CC; 
    transition:1s;   
}

.btn:active {
    background: #5E2C73;
    border:none;    
}

#img-brain {
    width: 47%;
    min-width: 360px;
    height: 100%;
    border-radius: 25px;
    border:none;
    box-shadow: none;    
}

.menu {
    width: 58%;
}

select:focus{
    outline: none;
}

select {
    /* background: #FFFFFF; */
    width: 100%;
    height: 100%; 
    border: 2px solid #731C99;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    padding-left: 30px;
/* identical to box height */
    color: #000000;
}



option {
    background: #FFFFFF;
    border: 2px solid #731C99;
    box-sizing: border-box;
    border-radius: 10px;
}

/* .icon-uniqueness {
background-image: url("../img/Group 19.jpg") no-repeat;
background-size: 20px;
background-position: 0 1px;





} */
.footer {
    justify-content: space-between;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;   
    height: 10%;
    padding-right: 25px;
    padding-left: 25px;
    background: #FFFFFF;
    border: 2px solid #731C99;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
}
@media screen and (max-width: 900px) {
    .footer {
        width: 360px;
        height: 30%;
        padding: 25px 0 0 0;
   }
   .wrapper {
       height: fit-content;
   }
  }
.names {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 140%;
    line-height: 100%;    
    display: flex;
    color: #5C5C5C;
}

.ikons {
    height: 100%;    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    min-width: 120px;
    flex-wrap: wrap;    
}

.ikon {
    width: 30%;
}

.firstCube{
    position: absolute;
    width: 160.89px;
    height: 160.89px;
    left: 115px;
    top: 478.19px;
    background: #FFFFFF;
    opacity: 0.15;
    border-radius: 20px;
    transform: rotate(-30deg);
}

.secondCube{
    position: absolute;
    width: 99.3px;
    height: 99.3px;
    left: 333.47px;
    top: 649.24px;
    background: #FFFFFF;
    opacity: 0.2;
    border-radius: 20px;
    transform: rotate(-12.3deg);
}

.thirdCube{
    position: absolute;
    width: 130.38px;
    height: 130.38px;
    left: 612.94px;
    top: 486.96px;
    background: #FFFFFF;
    opacity: 0.1;
    border-radius: 20px;
    transform: rotate(-98.29deg);
}

.fourthCube{
    position: absolute;
    width: 99.3px;
    height: 99.3px;
    left: 815.65px;
    top: 723px;
    background: #FFFFFF;
    opacity: 0.25;
    border-radius: 20px;
    transform: rotate(30deg);
}

.fifthCube{
    position: absolute;
    width: 84.09px;
    height: 84.09px;
    left: 1198.75px;
    top: 307px;
    background: #FFFFFF;
    opacity: 0.1;
    border-radius: 20px;
    transform: rotate(17.83deg);
}

.sixthCube{
    position: absolute;
    width: 71px;
    height: 71px;
    left: 225px;
    top: 939.5px;

    background: #FFFFFF;
    opacity: 0.3;
    border-radius: 20px;
    transform: rotate(-30deg);
}

.seventhCube{
    position: absolute;
    width: 130.38px;
    height: 130.38px;
    left: 597.95px;
    top: 885.21px;

    background: #FFFFFF;
    opacity: 0.3;
    border-radius: 20px;
    transform: rotate(15deg);
}

.eighthCube{
    position: absolute;
    width: 84.09px;
    height: 84.09px;
    left: 1073.75px;
    top: 859px;

    background: #FFFFFF;
    opacity: 0.3;
    border-radius: 20px;
    transform: rotate(17.83deg);
}

.ninthCube{
    position: absolute;
    width: 130.38px;
    height: 130.38px;
    left: 1110px;
    top: 897.19px;

    background: #FFFFFF;
    opacity: 0.3;
    border-radius: 20px;
    transform: rotate(-30deg);
}

.logo{
    display: flex;
    text-align: center;
    padding-right:97px
}
